<div class="r-list-container bbs-screen">
  <h1>PTTrend</h1>
  <div>
    <h3>使用方法</h3>
    <p>
      進入「文章分析」，點擊「發表文章」，即可在分析結果畫面中看到所投稿文章是政治文的機率，以及預估的「推 - 噓」數。
      <br/>
      在文章列表中，您可以看到其他人投稿的測試文章及結果。
    </p>
  </div>
</div>