<h1>政治文分析&推噓數預測</h1>

<h2>範例</h2>
<div class="r-ent">
  <div class="nrec">
    <span class="hl f2">100</span>
  </div>
  <div class="mark"></div>
  <div class=""
</div>

<% @posts.each do |p| %>
  <div>
